<div id="infobars">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center dashboard-title">
                <h2>Recipes</h2>                
                <p>
                    <a href="/dashboard/new" class="borderLine">Add a Recipe</a>
                </p>
            </div>
            </div>

        </div>
  
                <div class="row">                    
                    <div class="content">
                        <div class="row">
                            {{#each recipes as |recipe|}}
                            {{> recipe-info recipe }}
                            {{/each}}
                        </div>
                    </div>

                </div>

            </div>

        </div>
